<article ng-repeat="post in posts">
	<br />
	<h1>{{ post.title }}</h1>
	<p>{{ post.author }}</p>
	<p>{{ post.content }}</p>
	<div class="col-sm-12">
		<div class="tag-list well" >
			<a href="#" ng-repeat="tag in post.tags"  class="btn btn-primary" role="button"><b>{{tag}}</b></a>
		</div>
	</div>
	<br />
	<div class="row">
		<a href="#/edit/{{ posts.indexOf(post)+1 }}" class="btn btn-primary col-xs-6" role="button" ><b>Edit post</b></a>
		<div class="col-xs-2">&nbsp;</div>
		<div class="btn btn-primary col-xs-6" role="button" ng-click="deletePost(post.id)"><b>Delete post</b></div>
	</div>
</article>
